<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" type="image/png" href="<%= image_url("icon.png") %>"/>
  <title>Jounce Streaming Music Radio</title>
  <%= stylesheet_link_tag    'jounce_music_player', media: 'all' %>
  <%= javascript_include_tag 'jQuery' %>
  <%= render "music_radios/dashboard_bootstrapper" %>
  <%= javascript_include_tag 'jounce_music_player' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
